@font-face {
  font-family: 'Carpenter';
  src:
    url('./Carpenter-Regular.woff2') format('woff2'),
    url('./Carpenter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
