@font-face {
  font-family: 'Montreal';
  /* font-display: swap; */
  /* font-style: normal; */
  /* font-weight: 400; */
  src: url('./Montreal-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Montreal-Bold';
  /* font-display: swap; */
  /* font-style: normal; */
  /* font-weight: 700; */
  src: url('./Montreal-Bold.woff2') format('woff2');
}
