@font-face {
  font-family: 'Migra';
  src: url('./Migra-Extralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Migra';
  src: url('./MigraItalic-ExtralightItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Migra';
  src:
    url('./Migra-Regular.woff2') format('woff2'),
    url('./Migra-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Migra';
  src: url('./Migra-Extrabold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Migra';
  src: url('./MigraItalic-ExtraboldItalic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
