.menu {
  position: fixed;
  inset: 0;
  z-index: 30;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 6rem;
  background-color: rgb(235, 235, 235);
  color: rgb(2, 2, 2);
  clip-path: inset(0% 0% 100% 0%);
  will-change: clip-path;
  overflow: clip;
}


.links {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.875rem;
  margin-bottom: 2.5rem;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialsLink {
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialsLink:hover {
  color: white;
}

.socialsLink:hover .socialsLabel::before {
  transform: translateX(0.125rem);
}

.socialsLink:hover .socialsLabel::after {
  transform: translateX(-0.125rem);
}

.socialsLabel {
  display: none;
  text-transform: uppercase;
}

.socialsLabel::before,
.socialsLabel::after {
  display: inline-block;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialsLabel::before {
  content: "(\a0";
}

.socialsLabel::after {
  content: "\a0)";
}

@media (min-width: 48rem) {
}

@media (min-width: 48rem) {
  .menu {
    padding-top: 6.4375rem;
  }

  .links {
    padding-bottom: 1rem;
  }

  .socialsIcon {
    display: none;
  }

  .socialsLabel {
    display: block;
  }
}
