@font-face {
  font-family: 'TT Commons';
  src:
    url('./TTCommons-Regular.woff2') format('woff2'),
    url('./TTCommons-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
