.link {
  display: flex;
  align-items: center;
  gap: 2rem;
  white-space: nowrap;
}

.labels {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* transition: transform 750ms cubic-bezier(0.75, 0, 0, 1); */
  transform-style: preserve-3d;
}

.label {
  display: block;
  font-family: var(--heading-font-family);
  font-size: 3.75rem;
  text-transform: uppercase;
  line-height: 95%;
  letter-spacing: -0.03em;
  will-change: transform;
}

.front,
.back {
  backface-visibility: hidden;
}

.top,
.bottom {
  position: absolute;
  font-family: "Sharp Grotesk", sans-serif;
  font-size: 120px;
  line-height: 115px;
  letter-spacing: 0em;
  color: hsl(0, 0%, 100%);
  backface-visibility: hidden;
}

.front {
  transform: translateZ(45px) scale(0.75);
}

.back {
  position: absolute;
  transform: translateZ(-45px) rotateX(180deg) scale(0.75);
}

.top {
  transform: translateY(-50%) rotateX(90deg) scale(0.75);
}

.bottom {
  transform: translateY(50%) rotateX(-90deg) scale(0.75);
}

.top .inner {
  margin-bottom: -20px;
  margin-top: -5px;
}

.inner .inner {
  margin-bottom: -16px;
  margin-top: 4px;
}

.pathname {
  display: none;
  margin-bottom: 1.375rem;
  text-transform: uppercase;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.link:hover .pathname {
  opacity: 0;
}

@media (min-width: 48rem) {
  .pathname {
    display: block;
  }

  .label {
    font-size: 8rem;
    line-height: 85%;
  }
}
