.link {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.category {
  display: block;
  font-family: var(--heading-font-family);
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 95%;
  letter-spacing: -0.03em;
  will-change: transform;
}

.pathname {

  text-transform: uppercase;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.link:hover .pathname {
  opacity: 0;
}

@media (min-width: 48rem) {
  .pathname {
    display: block;
  }

  .label {
    font-size: 8rem;
    line-height: 85%;
  }
}
