@font-face {
  font-family: 'Sharp Grotesk';
  src:
    url('./SharpGrotesk-Bold.woff2') format('woff2'),
    url('./SharpGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
