@import '../assets/fonts/RoslindaleDisplayCondensed/RoslindaleDisplayCondensed.css';
@import '../assets/fonts/SharpGrotesk/SharpGrotesk.css';
@import '../assets/fonts/Humane/Humane.css';
@import '../assets/fonts/Migra/Migra.css';
@import '../assets/fonts/Carpenter/Carpenter.css';
@import '../assets/fonts/TTCommons/TTCommons.css';
@import '../assets/fonts/Canopee/Canopee.css';
@import '../assets/fonts/LZ/LZ.css';
@import '../assets/fonts/NeueMontreal/NeueMontreal.css';
@import '../assets/fonts/Montreal/Montreal.css';
@import '../assets/fonts/Thunder/Thunder.css';
@import '../assets/fonts/FKScreamer/FKScreamerTrial.css';
