@font-face {
  font-family: 'PP Migra';
  src: url('../assets/fonts/PPMigra/PPMigra-Regular.woff2') format('woff2'), url('../assets/fonts/PPMigra/PPMigra-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Commons';
  src: url('../assets/fonts/TTCommons/TTCommons-Regular.woff2') format('woff2'), url('../assets/fonts/TTCommons/TTCommons-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sharp Grotesk';
  src: url('../assets/fonts/SharpGrotesk/SharpGrotesk-Bold.woff2') format('woff2'), url('../assets/fonts/SharpGrotesk/SharpGrotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
