.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  mix-blend-mode: difference;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuButton {
  overflow: hidden;
  padding-right: 0.3125rem;
}

.smallLogo {
  height: 3.5rem;
}

.largeLogo {
  display: none;
}

@media (min-width: 48rem) {
  .header {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .smallLogo {
    display: none;
  }

  .largeLogo {
    display: block;
  }
}
