.footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}

.container {
  padding: 5rem 2rem 5rem 2rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.navSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.navTitle {
  font-family: 'TT Commons';
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.list {
  display: grid;
  gap: 0.125rem;
}

.link,
.address {
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: hsl(0, 0%, 100%);
}

.logo {
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.875rem;
}
