@font-face {
  font-family: 'FK Screamer';
  src: url('./FKScreamerTrial-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FK Screamer';
  src: url('./FKScreamerTrial-Medium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FK Screamer';
  src: url('./FKScreamerTrial-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FK Screamer';
  src: url('./FKScreamerTrial-Black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
