.hero {
  position: relative;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
}

.heading {
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.85;
  letter-spacing: -0.03em;
}

.clip {
  overflow: hidden;
}

.clip:nth-child(3) .line {
  font-family: 'Sharp Grotesk';
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
